*.suo
*.user
*.pyc
winpty.sdf
winpty.opensdf
/.vs
/artifacts
/config.mk
/build
/build-gyp
/build-libpty
/ship/packages
/ship/tmp
/src/Default
/src/Release
/src/gen
/src/winpty.sln
/src/*.vcxproj
/src/*.vcxproj.filters
