*               text=auto
*.bat           text eol=crlf
*.c             text
*.cc            text
*.gyp           text
*.gypi          text
*.h             text
*.ps1           text eol=crlf
*.props         text eol=crlf
*.targets       text eol=crlf
*.vcxproj       text eol=crlf
*.sln           text eol=crlf
*.json          text eol=lf
*.yml           text eol=lf
*.rst           text
*.sh            text
*.txt           text
.gitignore      text
.gitattributes  text
Makefile        text
configure       text

*.sh            eol=lf
configure       eol=lf
VERSION.txt     eol=lf
